<h1>Pages#home</h1>
<p>If you look at the source for this page when running the application in development mode, you can clearly see 
	<a href="https://github.com/rails/rails/issues/5145">the asset pipeline bug that has been reported on
	the rails github repo here</a> in action.</p>
